{% if site.llms != blank %}
<div id="taxonomy-container">
<table id="taxonomy" data-toggle="table" data-search="true", data-pagination="true", data-width="80%">
<thead>
  <tr>
    <th rowspan="3" class="border-taxonomy border-right, first-th" data-sortable="true">Model</th>
    <th colspan="6" class="border-taxonomy border-right">(1) Training</th>
    <th colspan="4" class="border-taxonomy border-right">(2) Evaluation<br></th>
    <th colspan="2" class="border-taxonomy border-right">(3) Deployment</th>
  </tr>
  <tr class="border-taxonomy">
    <th colspan="3" class="border-taxonomy border-right">Code</th>
    <th colspan="3" class="border-taxonomy border-right">Data</th>
    <th colspan="2" class="border-taxonomy border-right">Code</th>
    <th colspan="2" class="border-taxonomy border-right">Data</th>
    <th class="border-taxonomy border-right" >Code</th>
    <th class="border-taxonomy">Data</th>
  </tr>
  <tr class="border-taxonomy">
    <th class="noborder-right" data-sortable="true">Pre-Training</th>
    <th data-sortable="true">Fine-tuning</th>
    <th class="border-right" data-sortable="true">Alignment</th>
    <th data-sortable="true">Pre-Training</th>
    <th data-sortable="true">Supervised </br>Fine-tuning</th>
    <th data-sortable="true" class="border-right">Alignment</th>
    <th data-sortable="true">General Evaluation</th>
    <th data-sortable="true" class="border-right">Automatic Safety</br> Evaluation</th>
    <th data-sortable="true">Utility Internal</br> Benchmarks</th>
    <th data-sortable="true" class="border-right">Safety Evaluation</br> Datasets</th>
    <th data-sortable="true" class="border-right">Inference</th>
    <th data-sortable="true">Model Architecture</br> and Weights</th>
  </tr>
</thead>

  <tbody>
  {% for item in site.llms %}
  <tr>
    <td>
      {{ item.title }}
  </td>
  {% assign training_codes = "training-code-pretraining,training-code-finetuning,training-code-alignment,training-data-pretraining,training-data-sft,training-data-alignment,evaluation-code-general,evaluation-code-safety,evaluation-data-utility,evaluation-data-safety,deployment-code-inference,deployment-data-weights" | split: "," %}

  {% for code in training_codes %}
    {% assign prefix = '' %}
    {% assign license_suffix = '-license' %}
    {% assign code_with_license = code | append: license_suffix %}

    {% assign item_value = item[code] %}
    {% if item_value == 1 or item_value == 2 or item_value == 3 or item_value == 4 or item_value == 5 %}
      {% assign color-code = item_value %}
      {% if code contains 'code' %}
        {% assign prefix = 'C' %}
      {% elsif code contains 'data' %}
        {% assign prefix = 'D' %}
      {% endif %}
    {% elsif item_value contains 'N/A' %}
      {% assign color-code = 'NA' %}
    {% else %}
      {% assign color-code = 'unknown' %}
    {% endif %}


    <td class="noborder-right taxonomy-cell bs-color-default bg-color-{{ color-code }}">
      {{ prefix }}{{ item[code] }}
      {% if item[code_with_license] %}
      <br>
        ({{ item[code_with_license] }})
      {% endif %}
    </td>
  {% endfor %}
  </tr>
  {%- endfor %}
  </tbody>
</table>
</div>
{%- else -%}
There is an error parsing the table data.
{%- endif %}
