---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus viverra fermentum. Mauris vel quam tortor. Morbi vehicula ut felis eget fermentum. Etiam consectetur ex orci, vitae condimentum magna fringilla et. Vestibulum eleifend ipsum diam, at feugiat turpis pretium et. Duis vitae maximus massa. Vivamus sed accumsan neque. Phasellus consectetur purus non ligula rutrum vehicula. Duis varius arcu sit amet arcu malesuada, a rhoncus elit viverra. Fusce tincidunt ultricies felis hendrerit faucibus. In tincidunt nisl a varius porttitor. Donec eget lorem sapien. Aliquam erat volutpat.
</main>

{% include llm-taxonomy.html %}

